body {
  min-width: 290px;
  background-color: #fff;
  line-height: 1.5rem;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  border-right: solid;
  height: 100%;
}

#navbar header {
    margin-top: 16px;
}

#navbar ul {
  list-style: none;
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  /* border: 3px solid red;  */
  border-top: 1px solid;
  font-size: 1.2rem;
  width: 100%;
  position: relative;
}

code {
  background-color: #eee;
  line-height: 2rem;
  border-radius: 5px;
  color: red;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  cursor: pointer;
}

header {
  text-align: center;
  font-size: 1.8rem;
  margin: 10px;
}

#main-doc header {
  text-align: left;
  margin: 0px;
}

#main-doc {
  position: absolute;
  font-size: 1.1rem;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

section article {
  margin: 15px;
}

section li {
  margin: 15px 0 0 20px;
}

 h3 { 
    font-weight: 500;
}

@media (max-width: 650px) {

    #navbar ul {
        border: 1px solid;
        height: 270px;
    }


  #navbar {
     
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    max-height: 326px;
    width: 100%;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #navbar header {
      margin-top: 16px;
  }

  

  #main-doc {
    position: relative;
    margin-top: 330px;
    margin-left: 0;
  }
}
